<div class="row">
    <div class="col-12">
        <h5>Добавить заметку</h5>
    </div>
    <div class="col-4">
        <input type="text" class="form-control" placeholder="Имя" [(ngModel)]="name">
    </div>
    <div class="col-4">
        <textarea class="form-control" placeholder="Текст заметки" [(ngModel)]="noteText"></textarea>
    </div>
    <div class="col-4">
        <!-- <select name="" id="" class="form-select" [(ngModel)]="type">
            <option [ngValue]="myWorkerType.programmer">Программист</option>
            <option [ngValue]="myWorkerType.designer">Дизайнер</option>
            <option [ngValue]="myWorkerType.copyrighter">Рекламщик</option>
            <option [ngValue]="myWorkerType.manager">Менеджер</option>
        </select> -->
    </div>
    <div class="col-12 mt-2">
        <!-- <button class="btn btn-outline-primary btn-sm" (click)="onAddWorker()" > Добавить</button> -->
        <button class="btn btn-outline-primary btn-sm"  (click)="onAddNotes()" > Добавить</button>
       
      
    </div>
</div>
