<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- <h5>Добавить заметку</h5> -->
     <form class="form-group">
      <app-add-note
      (addNotes)="onAddNotes($event)"
    
      ></app-add-note>
      <!-- <input  name="Note-Title" type="text" class="form-control"   [(ngModel)]="noteArticle" />
      <textarea name="Note-Text"  class="form-control" [(ngModel)]="noteBody"></textarea>
      <input  name="Note-Time" type="text" class="form-control" id="TimerS" readonly [(ngModel)]="liveTime" />
     
      <button class="btn btn-outline-success" style="margin: 5px" (click)="fillNotePad()">Добавить</button> -->
     </form>
    </div>
    <div id="Notes" style="display: flex; flex-wrap: wrap; "> 
      <app-notes-comp 
    
      (deleteNotes)="onDeleteNotes($event)"
      
      (editNotes)="onEditNotes($event)"     
      ></app-notes-comp></div>
  </div>
</div>
<!-- <div id="Timer"></div> -->

<!-- (saveNoteEdit)="onSaveNoteEdit($event)"
(cancelNoteEdit)="onCancelNoteEdit($event)" -->


  <!-- <div  *ngFor="let item of testArr; let i = index"  style="border-radius: 5px; display: inline-block; width: 300px; margin: 15px; padding: 5px; box-shadow: 0px 0px 10px 6px rgba(34, 60, 80, 0.2);"> 
  <h1> {{item.nameL}} </h1>
  <textarea> {{item.text}}</textarea>
  <p>{{item.noteTime}}</p>
  <button class="btn btn-outline-danger" style="margin: 5px;" (click)="deleteNote(i)">Удалить </button><button type="button" class="btn btn-outline-warning" style="margin: 5px;">Warning</button>
</div> -->



