<div class="row" *ngIf="notes.length>0">
    <div class="col-12">

        <h3>{{title}}</h3>
    </div>

    <!-- <tr *ngFor="let note of notes">
                    <th scope="row">{{note.id}}</th>
                    <td>{{note.name}}</td>
                    <td>{{note.noteText}}</td>
                    <td><button 
                        (click)="onDeleteNotes(note.id); "
                        class="btn btn-outline-danger btn-sm" >
                        Удалить
                    </button></td>
        -->

    <div  *ngFor="let note of notes" class="shadow-lg p-3 mb-5 bg-white rounded mt-2" [style.width]="'300px'" [style.margin]="'15px'" >
        <!-- <h5>{{note.name}}</h5> -->
        <div *ngIf="note.readonly; else editNote" >
        <input type="text" class="form-control" placeholder="Имя" [value]="note.name" [readonly]="getROFlag(note.readonly)">
        <!-- <input type="text" class="form-control" placeholder="Имя" [value]="note.name" readonly> -->
        
        <textarea [readonly]="note.readonly" > {{note.noteText}} </textarea>
        <!-- <textarea readonly > {{note.noteText}} </textarea> -->
        <p>{{note.time}}</p>
        <button (click)="onDeleteNotes1(note.id); " class="btn btn-outline-danger btn-sm" [style.margin]="'2px'">
            Удалить
        </button>
        <button [hidden]="note.anyChang" (click)="onEditNotes1(note);"
        class="btn btn-outline-warning btn-sm" 
        >
            Редактировать
        </button>

        <!-- <br [hidden]="note.readonly">
        <button (click)="onSaveNoteEdit(note);"
        class="btn btn-success btn-sm" 
        [style.margin]="'2px'" [hidden]="note.readonly">
            Сохранить
        </button>
        <button (click)="onCancelNoteEdit(note);"
        class="btn btn-danger btn-sm" 
        [style.margin]="'2px'" [hidden]="note.readonly">
            Отменить
        </button> -->
    </div>
    <ng-template #editNote>
      
            <!-- <input type="text" class="form-control" placeholder="Имя" [(ngModel)]="changeText"] > -->
            <textarea [readonly]="note.readonly" [(ngModel)]="changeName">  </textarea>
            <textarea [readonly]="note.readonly" [(ngModel)]="changeText">  </textarea>
            <p>{{note.time}}</p>
            <br >
         
            <button (click)="onSaveNoteEdit(note);"
            class="btn btn-success btn-sm" 
            [style.margin]="'2px'" [hidden]="note.readonly">
                Сохранить
            </button>
            <button (click)="onCancelNoteEdit(note);"
            class="btn btn-danger btn-sm" 
            [style.margin]="'2px'" [hidden]="note.readonly">
                Отменить
            </button>
       

    </ng-template>
    
          <!-- [style.margin]="'2px'" [hidden]="!note.readonly"> -->
       
    </div>

</div>